<section class="block hero">
  <h1>Contact Support</h1>
  <p>We're available around the clock.<br />Let us know how we can help!</p>
</section>
<section class="block block--light">
  <div class="helpdesk-container container">
    <form class="form">
      <div class="mb-3">
        <label class="form-label" for="f-name">First Name</label>
        <input
          class="input form-control"
          id="f-name"
          type="text"
          placeholder="e.g Damilola"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="l-name">Last Name</label>
        <input
          class="input form-control"
          id="l-name"
          type="text"
          placeholder="e.g Zem"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="tel">Your phone number (Optional)</label>
        <input
          class="input form-control"
          id="tel"
          type="tel"
          placeholder="+2348012345678"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="mail">Your email</label>
        <input
          class="input form-control"
          id="mail"
          type="email"
          placeholder="mail@mail.com"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="category">Your email</label>
        <select class="input form-control" id="category">
          <option value="">Select a category</option>
          <option value="1">Option 2</option>
          <option value="2">Option 3</option>
          <option value="3">Option 4</option>
          <option value="4">Option 5</option>
        </select>
      </div>
      <button class="input btn btn--secondary" type="submit">
        Send your message
      </button>
    </form>
    <div class="helpdesk">
      <h2>Need an answer?</h2>
      <p>Our Help Desk has:</p>
      <ul class="list helpdesk__list">
        <li class="list__item">Detailed guides and instructions</li>
        <li class="list__item">How-to videos</li>
        <li class="list__item">Answers to common questions</li>
      </ul>
      <p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          width="30"
          style="vertical-align: middle"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zM6.75 9.25a.75.75 0 000 1.5h4.59l-2.1 1.95a.75.75 0 001.02 1.1l3.5-3.25a.75.75 0 000-1.1l-3.5-3.25a.75.75 0 10-1.02 1.1l2.1 1.95H6.75z"
            clip-rule="evenodd"
          />
        </svg>
        Search the Help Desk
      </p>
    </div>
  </div>
</section>
<section class="block callout container">
  <div>
    <span class="callout__title">Try Autocredit Now </span>
    <h2>Start accepting payments in just 30 minutes</h2>
  </div>

  <button class="btn btn--accent">Create free account</button>
</section>
<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--expanded footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Why Autocredit?</h2>
        <svg
          class="icon icon--white collapsible__chevron"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-5 h-5"
        >
          <path
            fill-rule="evenodd"
            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Why Choose Autocredit</a></li>
          <li><a href="#">Success Rates</a></li>
          <li><a href="#">For Entrepreneurs </a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Company</h2>
        <svg
          class="icon icon--white collapsible__chevron"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-5 h-5"
        >
          <path
            fill-rule="evenodd"
            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">About</a></li>
          <li><a href="#">Affiliates</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Developers</h2>
        <svg
          class="icon icon--white collapsible__chevron"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-5 h-5"
        >
          <path
            fill-rule="evenodd"
            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Overview</a></li>
          <li><a href="#">Documentation</a></li>
          <li><a href="#">Integrations</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">About</h2>
        <svg
          class="icon icon--white collapsible__chevron"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-5 h-5"
        >
          <path
            fill-rule="evenodd"
            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Company</a></li>
          <li><a href="#">Changelog</a></li>
          <li><a href="#">Subscribe</a></li>
          <li><a href="#">Compliance</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Privacy & Terms</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Support</h2>
        <svg
          class="icon icon--white collapsible__chevron"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-5 h-5"
        >
          <path
            fill-rule="evenodd"
            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Help Desk</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible collapsible--expanded footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Why Autocredit?</h2>
        <svg
          class="icon icon--white collapsible__chevron"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-5 h-5"
        >
          <path
            fill-rule="evenodd"
            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Why Choose Autocredit</a></li>
          <li><a href="#">Success Rates</a></li>
          <li><a href="#">For Entrepreneurs </a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="container grid footer__sections">
    <section class="footer__section">
      <h2 class="collapsible__heading footer__heading">Ogun</h2>

      <ul class="list">
        <li>
          <a href="#"
            >102 Ibadan Rd, 120101, <br />
            Ijebu Ode, Ogun State</a
          >
        </li>
        <li><a href="#">Ogun, Nigeria</a></li>
        <li><a href="#">+2348030623298 </a></li>
      </ul>
    </section>
    <section class="footer__section">
      <h2 class="collapsible__heading footer__heading">Company</h2>

      <ul class="list">
        <li><a href="#">Why Choose Autocredit</a></li>
        <li><a href="#">Success Rates</a></li>
        <li><a href="#">For Entrepreneurs </a></li>
      </ul>
    </section>
    <section class="footer__section">
      <h2 class="collapsible__heading footer__heading">Company</h2>

      <ul class="list">
        <li><a href="#">Why Choose Autocredit</a></li>
        <li><a href="#">Success Rates</a></li>
        <li><a href="#">For Entrepreneurs </a></li>
      </ul>
    </section>
    <section class="footer__section">
      <h2 class="collapsible__heading footer__heading">Company</h2>

      <ul class="list">
        <li><a href="#">Why Choose Autocredit</a></li>
        <li><a href="#">Success Rates</a></li>
        <li><a href="#">For Entrepreneurs </a></li>
      </ul>
    </section>
    <section class="footer__section">
      <h2 class="collapsible__heading footer__heading">Company</h2>

      <ul class="list">
        <li><a href="#">Why Choose Autocredit</a></li>
        <li><a href="#">Success Rates</a></li>
        <li><a href="#">For Entrepreneurs </a></li>
      </ul>
    </section>

    <div class="footer__brand">
      <h2 class="collapsible__heading footer__heading">Company</h2>
      <span>hello@autocredit.ng</span>
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="1em"
          fill="#3d5e69"
          viewBox="0 0 448 512"
        >
          <path
            d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="1em"
          fill="#3d5e69"
          viewBox="0 0 512 512"
        >
          <path
            d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
          />
        </svg>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="1em"
          fill="#3d5e69"
          viewBox="0 0 448 512"
        >
          <path
            d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
          />
        </svg>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="1em"
          fill="#3d5e69"
          viewBox="0 0 448 512"
        >
          <path
            d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"
          />
        </svg>
      </div>

      <img src="images/logo.svg" alt="" />
      <p class="footer__copyright">Copyright 2023 Autocredit</p>
    </div>
  </div>
</footer>
