<nav class="nav collapsible collapsible--expanded">
  <img src="./images/logo.svg" alt="" /><svg
    width="30"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 20 20"
    fill="currentColor"
    class="nav__toggler"
  >
    <path
      fill-rule="evenodd"
      d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10zm0 5.25a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75z"
      clip-rule="evenodd"
    />
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a class="link" href="#">Developer</a></li>
    <li class="nav__item"><a class="link" href="#">Support</a></li>
    <li class="nav__item"><a class="link" href="#">Login</a></li>
    <li class="nav__item"><a class="link" href="#">Support</a></li>
    <li class="nav__item">
      <button class="btn btn--primary shadow">Free Account</button>
    </li>
  </ul>
</nav>
